<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customers - edit customer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>

<body>
    <h1 class=" text-center display-3 fw-bold text-body-emphasis">Customers</h1>
    <h1 class=" text-center display-7 fw-bold text-body-emphasis">Editing customer data</h1>
    <div class="col-md-10 mx-auto col-lg-5">
        {# Customer edition form #}
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary shadow" method="post">
            {% csrf_token %}
            {{form_customer.as_p}}
            {{form_address.as_p}}
            <input class="w-100 m-1 btn btn-lg btn-primary" type="submit">
            <a href="{{main_site}}"><button class="w-100 m-1 btn btn-secondary">Back to list</button></a>
        </form>
    </div>
</body>

</html>